.footer {
    background-color: #000;
    color: #fff;
    padding: 0 1rem;
}

.footer__container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    align-items: center;
    padding: 5.25rem 0;
}


.footer .logo--studion {
    justify-self: start;
    margin: 0;
}

.footer__form {
    display: grid;
    place-items: center;
    grid-template-columns: 10ch auto;
    gap: 1.25rem;
}

.footer__form fieldset {
    display: grid;
    grid-template-columns: auto 3.375rem;
    border: unset;
    margin: 0;
    padding: 0;
    width: 100%;
}

.footer__form input {
    background-color: var(--color-primary);
    border: unset;
    padding: 1rem;
    font-size: 0.875;
    font-weight: 700;
    color: #000;
}

.footer__form input::placeholder {
    color: #000;
    text-transform: uppercase;
}

.footer__form input:focus {
    outline: unset;
}

.footer__form button {
    cursor: pointer;
    border: unset;
    height: 2.975rem;
    transition: 0.3s all ease;
}

.footer__form button:hover {
    color: #fff;
    background-color: var(--color-copy);
}

.footer__form label {
    font-size: 0.875;
    font-weight: 300;
    text-align: center;
}

.footer__social {
    justify-self: end;
}

.footer .logo--studion__subtitle {
    display: block;
    margin-top: 0.6875rem;
}

.footer__social li {
    margin-left: 1rem;
}

.footer__social li a :hover {
    color: var(--color-copy)
}

.footer__social .fab {
    color: #FFF;
}

.footer hr {
    border-color: #fff4;
    margin: 0;
}

.footer p {
    text-align: center;
    font-size: 0.875rem;
    font-weight: 300;
    margin: 2.5rem 0;
}
