.galery__copy {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 50vw;
  padding: 7rem 1.875rem;
}

.galery__copy h2 {
  margin: 0;
  margin-bottom: 3rem;
  font-size: 7.5rem;
  letter-spacing: -0.3125rem;
  line-height: 7.5rem;
  color: var(--color-primary);
  font-weight: 700;
}

.galery__copy h3 {
  font-size: 0.9375rem;
  letter-spacing: 0.1875rem;
  line-height: 1.125rem;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--color-primary);
}

.galery__copy p {
  margin: 0;
  margin-right: 1rem;
  color: var(--color-copy--alt);
  font-size: 0.9375rem;
  line-height: 1.875rem;
}

.galeria {
  height: 66.875rem;
  background-color: #000;
}

.galeria__image {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 9.8125rem 0 0 0;
  grid-auto-rows: 18.75rem;
}

.item__galeria {
  position: relative;
  padding: 1.875rem;
}

.item__galeria .img__galeria1,
.img__galeria1,
.img__galeria2,
.img__galeria3,
.img__galeria4,
.img__galeria5,
.img__galeria6,
.img__galeria7,
.img__galeria8,
.img__galeria9,
.img__galeria10 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.h-1 {
  grid-row: span 1;
}

.h-2 {
  grid-row: span 2;
}

.w-1 {
  grid-column: span 1;
}

.w-2 {
  grid-column: span 2;
}

.img__galeria1 {
  height: 170px;
}

.img__galeria4 {
  height: 343px;
}

.img__galeria5 {
  margin-top: -200px;
  height: 259px;
}

.img__galeria9 {
  height: 195px;
}

.img__galeria10 {
  margin-top: -50px;
  height: 432px;
}
